.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
  = link_to movie do
    .movie
      .poster
        = poster_for(movie)
      .details
        .title
          .movie_page
            = movie.display_name
            = movie.date.try(:year)