.movie {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  img { width: 100%; }

  .title{
    text-align: left;

    .movie_page{
      font-size: 12px;
      font-weight: normal;
    }

    .directors_page{
      font-size: 18px;
      font-weight: bold;
    }

  }

  .details {
    text-align: center;
    padding: 10px 20px;

    .add_movie img {
      height: 20px;
    }

    .loading, .glyph_confirmed, .glyph_error {
      display: none;
    }
  }
}

.imdb_rating {
  .fa { color: goldenrod };
}

.moviePlot{
  margin-top: 10px;
  font-size: large;
}

.movie_searches{
  a:active { color: white; }
}
