!!!
%html
  %head
    %title MovieTracker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# Header
    %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      %button.navbar-toggler.navbar-toggler-right
        %span.navbar-toggler-icon
      = link_to 'MovieTracker', root_path, class: 'navbar-brand'

      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          - if signed_in?
            %li.nav-item
              = link_to 'My Movies', movies_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Directors', directors_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Statistics', statistics_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'

        = form_tag '/results', method: :get, class: 'form-inline my-2 my-lg-0' do
          = text_field_tag :query, '', placeholder: 'Search for a movie', class: 'form-control mr-sm-2'
          = submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0'

    -# Body
    .container

      - if notice
        = notice
      - if alert
        = alert

      = yield

    -# Footer